/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
    font-family: infinity;
    src: url(fonts/infinity.woff);
}

nav#top-nav {
/*  box-shadow: none;
  position: absolute; */
}

nav a, nav ul a, nav .brand-logo {
  color: #000;
}

nav .brand-logo-presents {
  font-size: 0.85rem;
  padding: 0 10px;
  position: relative;
  top: -20px;
}

nav .brand-logo {
  font-size: 30px;
  color: #2abbad;
  padding: 0 10px;
  font-family: fantasy, infinity, sans-serif;
  position:relative;
  left: -165px;
  top: 8px;
  text-transform: uppercase;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
 
.slider {
  height: 600px;
}

body > div {
  min-height: 600px;
}

.grey-transparent {
  background-color: rgba(0,0,0,0.3);
}

.carousel.carousel-slider {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 
.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.parallax-container + .container {
  min-height: 600px;
}

nav .dropdown-content li {
    min-height: 20px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
/*.icon-block .material-icons {
  font-size: inherit;
}*/

footer.page-footer {
  margin: 0;
}
